html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2 {
    font-size: 50px;
}

p {
    line-height: 1.8;
}

.d-flex {
    display: flex;
}

.container {
    width: 100%;
}

.section-contents {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
}

.section-wrapper {
    height: 100vh;
}

.content,
.image  {
    width: 50%;
}

.margin-tb-1 {
    margin: 1.32rem 0;
}

.p-l {
    padding-left: 30%;
}

.p-r {
    padding-right: 30%;
}

.image > img {
    width: 100%;
}

.color-orange {
    color: orange;
}

.sub-heading {
    font-size: 25px;
}

.primary-btn {
    display: inline-block;
    color: #ffff;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 23px;
    margin: 1.72rem 0 0 0;
    border-radius: 4px;
    transition: background-image 3s linear;
}

.primary-btn:hover {
    background-image: linear-gradient(62deg, #f3a377 0%, #ffd061 99%);    
}

.header-wrapper {
    background-image: url('../image/top-banner.png');
    background-position: top left;
    background-repeat: no-repeat;
}

.dream-big-wrapper {
    background-image: url('../image/dream-bg.png');
    background-position: center right;
    background-repeat: no-repeat;
}

.experience-wrapper {
    background-image: url('../image/exp-bg.png');
    background-position: 0% 40%;
    background-repeat: no-repeat;
}

.all-experience {
    justify-content: center;
    gap: 2.5rem;
    height: 100vh;
}

.experience-one,
.experience-two {
    width: 42%;
    height: 50%;
    margin-top: 3rem;
    padding: 1.2rem 1.8rem 3.2rem;
    background: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    border-left: 8px solid;
}

.experience-one {
    margin-right: 1rem;
    border-image: linear-gradient(to top, #e02c2c 0%, #ff6c16 100%);
    border-image-slice: 1;
}

.experience-two {
    margin-left: 1rem;
    border-image: linear-gradient(to top, #ffb81f 0%, #ff9216 100%);
    border-image-slice: 1;
}

h3.position {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    font-weight: 500;
}

h4.start-date {
    margin-bottom: 0.8rem;
    font-size: 1.17rem;
}

footer {
    margin: 15px auto;
    text-align: center;
    color: gray;
}